.wrapper {
  @apply w-screen min-h-screen relative;
}

.wrapper > form {
  @apply w-max p-3 absolute left-5 top-5;
  animation: fade 1s ease-in-out;
}

.wrapper > form > h1 {
  @apply text-2xl mb-3;
}

.wrapper > form > input {
  @apply block mb-3 py-3 px-3 rounded-2xl w-full border border-transparent 
  bg-black/30 placeholder:text-white/70 outline-none duration-500;
}

.wrapper > form > input:focus {
  @apply border-purple-300;
}

.wrapper > form > button {
  @apply text-lg font-medium py-2 px-4 
  rounded-2xl w-full bg-transparent border border-white 
  inline-block mt-2 mb-3 duration-300;
}

.wrapper > form > button:hover {
  @apply translate-y-1 scale-110 bg-opacity-40 
  bg-violet-400  shadow shadow-white;
}

.success {
  @apply text-green-400 text-2xl font-medium m-auto;
  animation: fade 0.4s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
